@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:after,
*::after,
*:before,
*::before {
    box-sizing: border-box;
    outline: 0;

}

button:focus,
button:active {
    outline: none;
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

header {
    background: darkgray;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;

}

a {
    text-decoration: none;
}

header .content {
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    width: 100%;
    /* max-width: 630px; */
    margin: 80px auto;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

img {
    height: 100%;
    max-height: 62px;
}

.app-button {
    color: #fff;
    background: #47a3da;
    padding: 8px 15px;
    border-radius: 2px;
    margin: 10px 0 0;
    display: flex;
    transition: background 0.2s;
    /* max-width: 70px; */
    width: 95%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: x-small;
}

.application-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 560px; */
    margin: 0 auto;
    width: 100%;
    background: #f9f9f9;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.app-container {
    margin: 0px 0px;
    padding: 10px;
    min-height: 150px;
    /* background: #f9f9f9; */
    display: flex;
    flex-direction: column;
    text-align: center;
    /* max-width: 118px; */
    /* width: 100%; */
    flex-wrap: wrap;
    align-items: center;
}

.app-title {
    padding: 8px;
    font-size: x-small;
}

.empty {
    padding: 19px;
}

.logo {
    background: url('../logo.jpg');
    background-size: 180%;
    background-position-y: -7px;
    background-position-x: -41px;
    height: 80px;
    width: 100px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: darkgrey;
    display: flex;
}

.logo:active {
    background: url('../logo2.jpg');
    background-size: 180%;
    background-position-y: -7px;
    background-position-x: -41px;
    height: 80px;
    width: 100px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: darkgray;
    display: flex;
}

.title {
    font-size: 54px;
    margin: 6% auto;
}

.instal-btn {
    display: block;
    margin-bottom: 40px;
    padding: 14px 22.5px;
    width: 100%;
    max-width: 200px;
    height: max-content;
    border-radius: 12px;
    background-color: #07f;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: none;
}
