*, *:after, *::after, *:before *::before{
    box-sizing: border-box;
    outline: 0;
    outline: none;
}
body{
    background: #fff;
}
header{
    background: darkgray;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    
}
a{
    text-decoration: none;
}
header .content{
    height: 80px;
    margin: 0 auto;
}
.content {
    display: flex;
    width: 100%;
    max-width: 620px;
    margin: 80px auto;
    align-items: center;
}
img{
    
    height: 64px;
    
}
.app-button {
    color: #fff;
    background: #47a3da;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 20px 0 0;
    display: flex;
    transition: background 0.2s;
    max-width: 70px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.application-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 560px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    background: #f9f9f9;
}

.app-container {
    margin: 6px 0px;
    padding: 6px;
    min-height: 150px;
    /* background: #f9f9f9; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 100px;
    width: 100%;
    justify-content: center;
}
.app-title{
    padding: 10px;
}
.empty{
    padding: 19px;
}
.logo {
    background: url('../logo.jpg');
    background-size: 180%;
    background-position-y: -7px;
    background-position-x: -41px;
    height: 80px;
    width: 100px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: darkgrey;
    display: flex;
}
.logo:active{
    background: url('../logo2.jpg');
    background-size: 180%;
    background-position-y: -7px;
    background-position-x: -41px;
    height: 80px;
    width: 100px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: darkgray;
    display: flex;
}
.title{
    font-size: 54px;
    margin: 0 auto;
}
 