*, *:after, *::after, *:before *::before{
    box-sizing: border-box;
}
body{
    background: #fff;
}
header{
    background: whitesmoke;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.content {
    display: flex;
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    align-items: center;
}
img{
    
    height: 64px;
    
}
.app-button {
    color: #fff;
    background: #47a3da;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 20px 0 0;
    display: flex;
    transition: background 0.2s;
    max-width: 70px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.application-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 560px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    background: #f9f9f9;
}

.app-container {
    margin: 6px 0px;
    padding: 6px;
    min-height: 150px;
    /* background: #f9f9f9; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 100px;
    width: 100%;
    justify-content: center;
}
.app-title{
    padding: 10px;
}
.empty{
    padding: 19px;
}
 