body{
    background: #fff;
}
.content{
    display: flex;
    width: 100%;
    max-width: 620px;
    margin: 0 auto;

}
img{
    width: 64px;
    
}
.app-button{
    
        color: #fff;
        background: #47a3da;
        padding: 10px 20px;
        border-radius: 2px;
        margin: 20px 0 0;
        display: inline-block;
        transition: background 0.2s;
    
}
.app-button:before {
    content: "\f055";
}
.app-container{
    margin: 20px 0 0;
    padding: 20px;
    min-height: 250px;
    background: #f9f9f9;
}
